<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homestay.project.wechat.mapper.WechatUserMapper">

    <resultMap type="com.homestay.project.wechat.domain.WechatUser" id="WechatUserResult">
        <result property="id"    column="id"    />
        <result property="openid"    column="openid"    />
        <result property="name"    column="name"    />
        <result property="avatar"    column="avatar"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectWechatUserVo">
        select * from wechat_user
    </sql>

    <select id="selectWechatUserList" parameterType="com.homestay.project.wechat.domain.WechatUser" resultType="com.homestay.project.wechat.domain.WechatUser">
        <include refid="selectWechatUserVo"/>
        <where>
            <if test="openid != null  and openid != ''"> and openid = #{openid}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>

    <select id="selectWechatUserById" parameterType="Long" resultMap="WechatUserResult">
        <include refid="selectWechatUserVo"/>
        where id = #{id}
    </select>

    <insert id="insertWechatUser" parameterType="com.homestay.project.wechat.domain.WechatUser" useGeneratedKeys="true" keyProperty="id">
        insert into wechat_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openid != null">openid,</if>
            <if test="name != null">name,</if>
            <if test="avatar != null">avatar,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="isDelete != null">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="openid != null">#{openid},</if>
            <if test="name != null">#{name},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="isDelete != null">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updateWechatUser" parameterType="com.homestay.project.wechat.domain.WechatUser">
        update wechat_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="openid != null">openid = #{openid},</if>
            <if test="name != null">name = #{name},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWechatUserById" parameterType="Long">
        delete from wechat_user where id = #{id}
    </delete>

    <delete id="deleteWechatUserByIds" parameterType="String">
        delete from wechat_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>