<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homestay.project.business.mapper.UserSearchMapper">
    
    <resultMap type="com.homestay.project.business.domain.UserSearch" id="BusinessUserSearchResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="searchTime"    column="search_time"    />
        <result property="searchText"    column="search_text"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectBusinessUserSearchVo">
        select id, user_id, user_name, search_time, search_text, create_time, create_by, update_time, update_by, is_delete from business_user_search
    </sql>

    <select id="selectUserSearchList" parameterType="com.homestay.project.business.domain.UserSearch" resultMap="BusinessUserSearchResult">
        <include refid="selectBusinessUserSearchVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="searchTime != null "> and search_time = #{searchTime}</if>
            <if test="searchText != null  and searchText != ''"> and search_text = #{searchText}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectBusinessUserSearchById" parameterType="Long" resultMap="BusinessUserSearchResult">
        <include refid="selectBusinessUserSearchVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusinessUserSearch" parameterType="com.homestay.project.business.domain.UserSearch" useGeneratedKeys="true" keyProperty="id">
        insert into business_user_search
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="searchTime != null">search_time,</if>
            <if test="searchText != null">search_text,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="isDelete != null">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="searchTime != null">#{searchTime},</if>
            <if test="searchText != null">#{searchText},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="isDelete != null">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updateBusinessUserSearch" parameterType="com.homestay.project.business.domain.UserSearch">
        update business_user_search
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="searchTime != null">search_time = #{searchTime},</if>
            <if test="searchText != null">search_text = #{searchText},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusinessUserSearchById" parameterType="Long">
        delete from business_user_search where id = #{id}
    </delete>

    <delete id="deleteBusinessUserSearchByIds" parameterType="String">
        delete from business_user_search where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>